%p= %|Hi #{@owner_name},|
  
%p
  %b
    = @requestor_name
  has requested
  %b
    = "#{@book.title}"
  from you... for the period starting from
  = request_datespan(@book.pending_request)

%p Go to your requests page in the application and approve/reject this request.
