%h3 Book Requests

- if @requests.empty?
  No pending book requests at the moment.
- else
  %table.table.table-striped#requests-list
    %thead
      %tr
        %th Book Title
        %th Requested By
        %th Date
        %th
    - @requests.each do |req|
      %tbody
        %tr{id: "request-row-#{req.id}", class: "request-row"}
          %td= link_to device_name(req.book), book_path(req.book)
          %td{id: "requestor-#{req.id}"}
            = req.requestor
          %td= request_datespan(req)
          %td
            = link_to 'Approve', approve_request_path(req), method: :put, class: 'btn btn-primary'
            = link_to 'Reject', reject_request_path(req), id: "reject-request-#{req.id}", class: 'btn btn-warning reject-request'

#reject-form.modal.fade
= render 'reject_form_template'
