= labeled_form_for @book, html: {id: 'device-form', class: 'form-horizontal new_book', multipart: true} do |f|
  .hide
    = hidden_field_tag :comment
  .row-fluid
    .span6
      = f.select     :book_type_id, BookType.all.map {|dt| [dt.name, dt.id]}
      = f.text_field :title,        title: t('device.form.title'), label: 'Title'
      = f.text_field :author,        title: t('device.form.author'), label: 'Author'
      = f.text_field :publication,           title: t('device.form.publication'),          label: 'Publication'
   
      -if !f.object.id.blank? and @book.available? and is_admin?    
        =f.text_field :book_possessor, label: 'Possessor',  placeholder: 'LDAP Username', class: 'typeahead', autocomplete: 'off' 
      = f.text_field :condition,  title: t('device.form.condition')
      = f.text_field :isbn,  title: t('device.form.isbn'), label: 'ISBN'
   
      /= f.text_field :owner,        class: 'typeahead', placeholder: 'Start typing in the user name',  autocomplete: 'off', label: 'Admin'
      = f.text_field :property_of,  title: t('device.form.property_of'), label: 'Contributed By'
      = f.text_field :link_for_review,   title: t('device.form.review_link'),  label: 'Review Link'
      = f.select  :location_id,  Location.all.collect {|p| [ p.location_name, p.id ] }
    
    .span6.imageposition        
      .img-placeholder.small
        -if f.object.image_link.blank?      
          = image_tag  "/assets/book.jpg", id: 'book_image'
        -else
          = image_tag  @book.image_link, id: 'book_image'
    %br
    .span6.imagelink        
      = f.text_field :image_link,  title: t('device.form.imagelink'),  label: 'Image Link'
    

    / .span6
    /   = f.file_field :book_photo
      
    /   = f.text_field :phone_num,        title: t('device.form.phone_num'),       label: 'Phone Number'
      
  / Accessories
  / %h3= accessories_heading(@device)
  / = f.fields_for :accessories do |accessories_fields|
  /   = render 'accessories/form', :f => accessories_fields

  / = render 'accessories/form_template'

  / .well#add-accessory-container.center
  /   %a.btn.btn-primary#add-accessory
  /     %i.icon-plus.icon-white
  /     Add Accessory

  .actions
    = f.submit :class => "btn btn-primary btn-large", :id => @book.new_record? ? 'create-device' : 'update-device'
