%table#device-list.table.table-striped.table-bordered
  %thead
    %tr
      %th Title
      %th Author
      %th Publication
      %th Review Link 
      %th Category
      /%th Admin
      %th Location
      %th Reviews
      %th Condition
      %th Availability
      %th 
      %th Due&nbsp;Date
  %tbody
    - @books.each do |book|
      %tr.clickable{'data-url' => book_path(book)}
        %td.wrapper= "#{book.title}"
        %td.wrapper= book.author
        %td.wrapper= "#{book.publication}"
        %td.wrapper 
          = link_to book.link_for_review, book.link_for_review
        %td.wrapper= book.try(:book_type).try(:name)
        /%td.wrapper= book.owner
        %td.wrapper= book.location.location_name
        %td.wrapper
          = link_to  "Reviews", "#{book_path(book)}#reviews"
        %td.wrapper=book.condition
        %td.wrapper
          = state_label(book)
        %td.wrapper.device-actions{id: "device-actions-#{book.id}"}= device_actions(book)
        %td.wrapper= end_label(book)

  %tfoot
    %tr
      %td
        %input.search_init{:name => "search_make", :type => "text", :value => "Search Title"}/
      %td
        %input.search_init{:name => "search_label", :type => "text", :value => "Search Author"}/
      %td
        %input.search_init{:name => "search_os", :type => "text", :value => "Search Application"}/
      %td
        %input.search_init{:name => "search_serial", :type => "text", :value => "Search Review Link"}/
      %td
        %input.search_init{:name => "search_project", :type => "text", :value => "Search Category"}/
      %td
        %input.search_init{:name => "search_location", :type => "text", :value => "Search Location"}/
      %td
      %td
      %td
      %td
      %td
      
%br
#device-actions.modal.fade

= render 'books/request_form_template'
