:plain
  $('.progress').hide()
  $('.request-button').replaceWith("#{escape_javascript(render 'shared/flashes')}")
  $('#device-actions-#{@book.id}').html("#{escape_javascript(device_actions(@book))}")
  $('#device-list').replaceWith("#{escape_javascript(render 'books/list')}")
  $('#waiting-device-#{@book.id}').popover()
