.pager
  %li.previous
    = link_to '<< Books List', books_path

.well
  %legend.row-fluid
    .pull-left
      %h2
        Editing
        = device_name(@book)
    .pull-right
      = state_label(@book)
      - if @book.not_available?
        = link_to 'Make Available', make_available_book_path(@book), method: :put, class: 'btn btn-primary', data: {confirm: 'Are you sure you want to make this book available?'}
      - else
        = link_to 'Make Unavailable', make_unavailable_book_path(@book), method: :put, class: 'btn btn-warning', data: {confirm: 'Are you sure you want to make this book unavailable?'}

  .row-fluid
    = render 'form'

#update-device-modal.modal.fade
  .modal-header
    %h3
      Reason for updation
      %button.close{"data-dismiss" => "modal", :type => "button"}
        %i.icon-remove
  .modal-body
    .instructions
      You can add some comments here:
    %form.form
      %textarea{name: :comment}
      %p.centered-info
        %input.btn.btn-primary{:type => :submit, :value => 'Update'}
  .modal-footer
    .action-buttons
      %a.btn{"data-dismiss" => "modal"} Close
