.row-fluid
  .pull-left
    %h2 Listing Books
  .pull-right
    - if is_admin?
      %a.btn.btn-primary{href: new_book_path}
        %i.icon-plus.icon-white
        Add Book
  - if is_admin?
    .pull-right.export-to-excel
      = link_to 'Export To Excel', export_books_path(:format => :xls), class: 'btn'


%legend

- if @books.empty?
  .no_device
    There are no books in the database at the moment. 
    -if is_admin?
      Go to 
      = link_to 'create page', new_book_path
      to add a book.
- else
  = render 'books/list'

- if is_admin?
  .row-fluid
    .span6
      = form_tag import_books_path, :class => "well form form-vertical", :multipart => true do
        %h3 Import an Excel
        = file_field_tag :book_import_file
        %br/
        = submit_tag 'Import', class: 'btn btn-primary'
