%h2 Search Results
%legend
- if @books.empty?
  .no_device
    There are no books matching your search criteria in the database at the moment.
- else
  = render 'books/list'
%br/
= link_to 'All Books', books_path, class: 'btn'
