.pager
  %li.previous
    = link_to '<< Books List', books_path

  .pull-right
    - if is_admin?
      %a.btn.btn-primary{href: new_book_path}
        %i.icon-plus.icon-white
        Add Book
.well
  %legend.row-fluid
    .pull-left
      %h2= @book.title
    .pull-right
      = state_label(@book)
      - if is_admin?
        = link_to 'Edit', edit_book_path(@book), class: 'btn btn-medium'
  .row-fluid
    .span4
      .field     
        %b Author:
        = "#{@book.author}"
      .field
        %b Publication:
        = "#{@book.publication}"
      .field
        %b Category:
        = "#{@book.book_type.name}"
      .field
        %b State:
        = "#{@book.state}"
      .field
        %b ISBN:
        = "#{@book.isbn}"
      .field
        %b Possessor:
        - if @book.available?
          %span.label.label-info None
        - else
          = "#{@book.possessor}"
          - if @book.in_use? and (is_admin? or is_owner?(@book))
            = link_to 'Receive', receive_book_path(@book), method: :put, class: 'btn btn-primary btn-mini'
      .field
        %b Created On:
        = "#{@book.created_at.strftime('%d-%m-%y')}"
      .field
        %b Created By:
        = "#{@book.created_by}"
    .span4    
      .field
        %b Condition:
        = @book.condition
      .field
        %b Review Link:
        = link_to "#{@book.link_for_review}", "#{@book.link_for_review}"
      .field
        %b Location:
        = "#{@book.location.location_name}"
      .field
        %b Contributed By:
        = "#{@book.property_of}"
      .field
        %b Book Id:
        = "#{@book.id}"
      .field
        %b Updated On:
        = "#{@book.updated_at.strftime('%d-%m-%y')}"
      .field
        %b Updated By:
        = !@book.updated_by.blank? ? "#{@book.updated_by}" : "#{@book.created_by}"
    .span4
      .img-placeholder.small
        -if @book.image_link.blank?
          = image_tag "/assets/book.jpg"
        -else
          = image_tag @book.image_link


#reviews.well
  = render 'reviews/list'
#reviews_form.well
  = render 'reviews/form'


.well
  %h3 History
  - if @events.empty?
    No events associated for this book so far!
  - else
    = render 'events/list', events: @events
    = link_to 'See all events', book_events_path(@book)
