/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.inline-block {
  display: inline-block;
}

.center {
  text-align: center;
}

.clickable {
  cursor: pointer;
}

.field_with_errors {
  display: inline;
}

.img-placeholder {
  border: 1px solid #dddddd;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.small {
  width: 250px;
  height: 250px;
}

.thumb {
  width: 100px;
  height: 100px;
}
.field {
  line-height: 24px;
}

.export-to-excel {
  margin-right: 30px;
}

#device-actions .centered-info {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#reject-form .reason {
  margin-top: 20px;
}

#reject-form .centered-info {
  margin-bottom: 20px;
}

.request_device .instructions {
  margin-bottom: 20px;
}

.request_device .input-append .add-on {
  margin-left: -5px !important;
}

.paging_two_button a {
  text-decoration: none !important;
  cursor: pointer;
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.wrapper {
  max-width: 100px !important;
  word-wrap : break-word !important;
  white-space: normal !important;
} 

.imagelink{
  padding-top: 10px;
  margin-left: -60px !important;
}
.imageposition{
  padding-left: 60px;
}

.review{
  width: 90%;
  height: 100px;
}