.hero-unit { 
  width :102%;
}
.container {
	width : 1000px;
}
#device-list tfoot input,
#device-list tfoot input:focus {
  width: 80px;
}

.btn-primary.request-device-queue{
	 
  background-image: none;
  background-color: #DD5600 ;

}
