= form_for [@book, @comment] , :remote => true do |f|
  .accessory-form-inline  
    = f.text_area :description, placeholder: 'Add a Review', title: t('review.form.comments'), :class => "review"
    = f.submit "Add Review", :id=>"review_submit", :class => "btn btn-large btn-primary"


  :javascript
    $('#review_submit').on("click", function(e) {
    	e.preventDefault();    	
        if($('#review_description').val().length > 0 ){
    		$('#review_submit').attr('value', "Submitting..");
    		
       		$('#new_review').submit();   
       }    
     return true;
    });