/%h3= accessories_heading(@book)
/%h3= accessories_heading(@book)
- if @comments.empty?
  No Reviews for this book
- else
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Reviewer        
        %th Comments
    %tbody
      - @comments.each do |comment|
        %tr{class: "accessory-row", id: "accessory-row-#{comment.id}"}
          %td= comment.username          
          %td= comment.description
          -if is_admin?
            %td= link_to (content_tag(:i, '', class: 'icon-remove')), book_review_path(@book, comment), method: :delete, confirm: 'Are you sure?'


