%h3= accessories_heading(@device)
%h3= accessories_heading(@device)
- if @device.accessories.empty?
  No accessories for this device
- else
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th Accessory Type
        %th Manufacturer
        %th Comments
    %tbody
      - @device.accessories.all(include: :accessory_type).each do |accessory|
        %tr{class: "accessory-row", id: "accessory-row-#{accessory.id}"}
          %td= accessory.accessory_type.try(:name)
          %td= accessory.manufacturer
          %td= accessory.description
